.header
{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
}
.header .navigation
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
}
.header .navigation li a
{
    text-decoration: none;
    color: var(--primary);
    padding: 5px 40px;
    transition: .3s ease-in-out;
    border-bottom: 2px solid #fff;
    left: 0;
}
.header .navigation li a:hover
{
    border-bottom: 2px solid var(--secondary);
}